/* Resetting basic styles from browsers + all variables */
:root{
    /* Color */
    --dark-bg-color:#1f2937;
    --blue-color:#3882f6;
    --light-bg-color:#e5e7eb;
    /* Div */
    --block-padding:10px 10px 100px;
    --block-max-width:1200px;
    --block-margin:0 auto;
    /* Size */
    --header-main-img:60vh;
    --main-first-figure-width:clamp(150px, 20vw, 300px);
    --first-article-img-width:100%;
    /* Text */
    --text-h2Andbutton-size:24px;
    --text-h2Andbutton-color:#f9faf8;
    --text-size:18px;
    --text-color:#e5e7eb;
    --header-h1-size:48px;
    --header-h1-color:#f9faf8;
    --header-h1-weight:900;
    --main-h2-size:36px;
    --main-text-color:#1f2937;
    --main-first-h2-weight:900;
    --main-second-h2-style:italic;
    --main-second-h2-weight:lighter;
    /* Padding */
    --margin-between-items:clamp(10px, 2vw, 20px);
    --menu-links-a-padding:0 10px;
    --footer-padding-top-botton:50px;
    --third-arcticle-padding:20px;
    /* Buttom */
    --button-padding-top-botton:5px;
    --button-padding-left-right:10px;
    /* Border */
    --button-border-radius:5px;
    --button-border:2px solid var(--text-color);
    --first-arcticle-img-border-radius:50px;
    --first-arcticle-img-border:4px solid var(--blue-color);
    --third-arcticle-border-radius:20px;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
/* Basic */
header, footer{
    background-color: var(--dark-bg-color);
}
header main, menu, footer marquee{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--block-padding);
    max-width: var(--block-max-width);
    margin: var(--block-margin);
}
menu h2, .third h2, .inform button, .third button{
    font-size: var(--text-h2Andbutton-size);
    color: var(--text-h2Andbutton-color);
}
.links a, .inform p, footer marquee, .third p{
    font-size: var(--text-size);
    color: var(--text-color);
}
.inform button, .third button{
    background-color: var(--blue-color);
    padding: var(--button-padding-top-botton) var(--button-padding-left-right);
    border-radius: var(--button-border-radius);
    border: none;
}
.inform > *, main section > *{
    margin: var(--margin-between-items);
}
/* Header */
header main img{
    height: var(--header-main-img);
}
.inform h1{
    font-size: var(--header-h1-size);
    color: var(--header-h1-color);
    font-weight: var(--header-h1-weight);
}
.links a{
    margin: var(--menu-links-a-padding);
}
/* Main Section 1 */
.first, .second, .third{
    padding: var(--block-padding);
}
.first article, .first h2, .second h2, .second p, .third article{
    max-width: var(--block-max-width);
    margin: var(--block-margin);
}
.first h2{
    font-size: var(--main-h2-size);
    color: var(--main-text-color);
    font-weight: var(--main-first-h2-weight);
    text-align: center;
    margin: var(--margin-between-items);
}
.first article{
    display: flex;
    gap: var(--margin-between-items);
    flex-wrap: wrap;
    justify-content: center;
}
.first article figure{
    width: var(--main-first-figure-width);
}
.first article img{
    width: var(--first-article-img-width);
    aspect-ratio: 1 / 1;
    object-fit: cover; 
    border-radius: var(--first-arcticle-img-border-radius);
    border: var(--first-arcticle-img-border);
}
.first article figcaption{
    font-size: var(--header-text-size);
    color: var(--main-text-color);
    text-align: center;
}
/* Main Section 2*/
.second{
    background-color: var(--light-bg-color);
}
.second h2{
    font-size: var(--main-h2-size);
    color: var(--main-text-color);
    font-weight: var(--main-second-h2-weight);
    font-style: var(--main-second-h2-style);
    text-align: center;
}
.second p{
    font-size: var(--text-size);
    color: var(--main-text-color);
    font-weight: var(--main-first-h2-weight);
    text-align: end;
}
/* Main Section 3*/
.third article{
    background-color: var(--blue-color);
    border-radius: var(--third-arcticle-border-radius) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--third-arcticle-padding);
}   
.third button{
    border: var(--button-border);
    margin: var(--margin-between-items);
}
/* Footer */
footer marquee{
    padding: var(--footer-padding-top-botton) 0;
    justify-content: center;
}
/* For a phone */
@media (max-width: 768px) {
    :root{
        --main-h2-size:26px;
        --header-main-img:50vw;
        --first-arcticle-figcaption-height:17vh;
    }
    .links{
        display: flex;
        flex-direction: column;
    }
    header main{
        flex-wrap: wrap;
    }
    header main img{
        width: var(--header-main-img);
        height: auto;
    }
    .third article{
        flex-wrap: wrap;
    }
    .first article figcaption{
        height: var(--first-arcticle-figcaption-height);
        overflow-y:hidden;
        text-overflow: ellipsis;
    }
}
/* Hover effect */
:root{
    --hover-color-blue: #295aa8;
}
@media (hover: hover){
    .links a:hover{
        filter: brightness(50%);
    }
    .inform button:hover, .third button:hover{
        background-color:var(--hover-color-blue);
    }
    .first article img:hover{
        width: 102%;
    }
}
@media (hover: none) {
    .links a:active{
        filter: brightness(50%);
    }
    .inform button:active, .third button:active{
        background-color:var(--hover-color-blue);
    }
    .first article img:active{
        width: 102%;
    }
}